{%extends 'base_left.html'%}
{%block js%}

<script type="text/javascript">
	$(function(){
			
			/*if(data.name==undefined){
				window.location.href='/user/login/'
				转向另一个页面..样子看起来很挫
			}*/
				$('.login_btn').html('欢迎您:{{name}}<span>|</span><a href="/user/logout/">退出</a>')	
				$('.user_info_list').html('<li><span>用户名：</span>'+'{{name}}'+'</li>')
				$('.user_info_list').append('<li><span>联系方式：</span>{{tel}}</li>')
				$('.user_info_list').append('<li><span>联系地址：</span>{{addr}}</li>')

			
	})
</script>

{%endblock js%}

{%block content2%}

<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
								
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
					{%for i in see_list%}
					<li>
					<a href="/goods/detail{{i.see.id}}"><img src="/static/{{i.see.gpic}}"></a>
					<h4><a href="/goods/detail{{i.see.id}}">{{i.see.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{i.see.gprice}}</span>
						<span class="unit">{{i.see.gprice}}/{{i.see.gunit}}</span>
						<a href="/goods/cart/?a={{i.see.id}}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
					{%endfor%}
				
			</ul>
		</div>
		</div>
	</div>


{%endblock content2%}
