{%extends 'base.html'%}

{%block title%}商品详情{%endblock title%}

{%block js%}
<script type="text/javascript" src='/static/js/jquery.cookie.js'></script>
<script type="text/javascript">
	$(function(){

		$.get('/user/name/',function(data){
			if(data.name.length!=null){
				$('.login_btn').html('欢迎您:'+data.name+'<span>|</span><a href="/user/logout/">退出</a>')
				if($.cookie(data.name)==null){
					$.cookie(data.name,{{good.id}},{expires:7,path:'/'})
				}
				else{
					a = $.cookie(data.name).split(',')
					/*alert(jQuery.type(a))*/
					/*去重复的*/
					for(var i=0;i<a.length;i++){
						if(a[i]=={{good.id}}){							
							a.splice(i,1)
						}
					}
					/*判断是否超过五个  只保存五条信息*/
					if(a.length<5){
						a.unshift({{good.id}})
						$.cookie(data.name,a.join(','),{expires:7,path:'/'})
					}
					else{
						a.pop()
						a.unshift({{good.id}})
						$.cookie(data.name,a.join(','),{expires:7,path:'/'})
					}
				}
			}
		})
		
		$('.num_show').blur(function(){
			$('.price_all').html(({{good.gprice}}*$('.num_show').val()).toFixed(2)+'元')
		})

		$('.add').click(function(){
			$('.num_show').val(parseInt($('.num_show').val())+1)
			$('.price_all').html(({{good.gprice}}*$('.num_show').val()).toFixed(2)+'元')
		})

		$('.minus').click(function(){
			if($('.num_show').val()==1){
				return
			}
			$('.num_show').val(parseInt($('.num_show').val())-1)
			$('.price_all').html(({{good.gprice}}*$('.num_show').val()).toFixed(2)+'元')
		})

		$('.add_cart').click(function(){
			$.get('/goods/add{{good.id}}_'+$('.num_show').val()+'/',function(data){
				$('.goods_count').html(data.num)
			})
		})

		$('.buy_btn').click(function(){
			$.cookie('number',$('.num_show').val(),{expires:7,path:'/'})
		})
	})
</script>

{%endblock js%}

{%block content%}



	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">

					<li><a href="/goods/list1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/list2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/list3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/list4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/list5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/list6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="/goods/list{{good.gtype.id}}_1_1">{{good.gtype.ttitle}}</a>
		<span>></span>
		<a href="#">{{good.gtitle}}</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{good.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{good.gtitle}}</h3>
			<p>{{good.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{good.gprice}}</em></span>
				<span class="show_unit">单  位：{{good.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" readonly="readonly">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em class="price_all">{{good.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="/goods/place_order{{good.id}}/" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
				{%for i in list%}
				
					<li>
						<a href="#"><img src="/static/{{i.gpic}}"></a>
						<h4><a href="#">{{i.gtitle}}</a></h4>
						<div class="prize">￥{{i.gprice}}</div>
					</li>

				{%endfor%}
					
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{good.gcontent|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>

{%endblock content%}