{%extends 'base.html'%}

{%block title%}商品列表{%endblock title%}

{%block js%}

<script type="text/javascript">
	$(function(){

		$.get('/user/name/',function(data){
			if(data.name.length!=0){
				$('.login_btn').html('欢迎您:'+data.name+'<span>|</span><a href="/user/logout/">退出</a>')
			}
		})



	})
</script>

{%endblock js%}

{%block content%}

<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/user_info/">用户中心</a>
					<span>|</span>
					<a href="/user/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/user_order/">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
				{%for i in types%}
					<li><a href="/goods/list{{i.id}}_1_1" class="fruit">{{i.ttitle}}</a></li>
					
				{%endfor%}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{title}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					
					{%for i in new_list%}
						<li>
						<a href="/goods/detail{{i.id}}/"><img src="/static/{{i.gpic}}"></a>
						<h4><a href="/goods/detail{{i.id}}/">{{i.gtitle}}</a></h4>
						<div class="prize">￥{{i.gprice}}</div>
					</li>
					{%endfor%}
						
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goods/list{{pid}}_1_1/" {%if orderby == '1'%}class="active"{%endif%}>默认</a>
				<a href="/goods/list{{pid}}_1_2/" {%if orderby == '2'%}class="active"{%endif%}>价格</a>
				<a href="/goods/list{{pid}}_1_3/" {%if orderby == '3'%}class="active"{%endif%}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				

			{%for i in page%}

			<li>
					<a href="/goods/detail{{i.id}}/"><img src="/static/{{i.gpic}}"></a>
					<h4><a href="/goods/detail{{i.id}}/">{{i.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{i.gprice}}</span>
						<span class="unit">{{i.gunit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			{%endfor%}

			</ul>

			<div class="pagenation">
			{%if page.has_previous%}
			<a href="/goods/list{{pid}}_{{page.number|add:-1}}_{{orderby}}"><上一页</a>
			{%endif%}
			{%for i in page.paginator.page_range%}

			{%if i == page.number%}
				<a href="/goods/list{{pid}}_{{i}}_{{orderby}}" class="active">{{i}}</a>
			{%else%}
			<a href="/goods/list{{pid}}_{{i}}_{{orderby}}">{{i}}</a>
			{%endif%}

			{%endfor%}
				{%if page.has_next%}
				<a href="/goods/list{{pid}}_{{page.number|add:1}}_{{orderby}}">下一页></a>
				{%endif%}
			</div>
		</div>
	</div>


{%endblock content%}